www/api/schema/signingRequest.rng

<element name="signingRequest" xmlns="http://relaxng.org/ns/structure/1.0">
	<element name="csr">
		<text/>
	</element>
	<element name="emails">
	<attribute name="elementCount">
	<text/>
	</attribute>
	<zeroOrMore>
		<element name="email">
			<text/>
		</element>
	</zeroOrMore>
	</element>
</element>
